{% extends "layouts.njk" %}


{% block head %}

<title>Rocketseat - Error 404</title>

{% endblock %}


{% block content %}      
    <div class = "wrapper_error">
        <div class = "error_text">
            <h1> ERROR 404: </h1>
            <p>Esta página que você tentou acessar não existe!</p>
        </div>
    </div>
{% endblock %}